// app global css in SCSS form
* {
    font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}
html, body{
	height: 100%;
}
::-webkit-scrollbar {
	width: 10px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: rgba(204, 29, 185, 0.5);
}
ul{
	li{
		list-style: none;
	}
}
a{
	text-decoration: none;
}